@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'InterLight';
    src: url('../fonts/Inter-Light.ttf'); /* IE9 Compat Modes */
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'InterRegular';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
